In [27]:
import sqlite3
from sqlite3 import Error

## Function to Use

In [28]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful!")
    except Error as e:
        print(f"The error '{e}' occurred.")

    return connection

In [29]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

## 1. Create Connection to existing Database

In [30]:
conn = create_connection(
    path='../database/statements.db'
)

Connection to SQLite DB successful!

## 2. Create Table

In [31]:
create_table = """
CREATE TABLE IF NOT EXISTS main (
  cik TEXT PRIMARY KEY,
  ticker TEXT NOT NULL,
  name TEXT,
  sector TEXT,
  sub_industry TEXT,
  updated TEXT
);
"""

In [39]:
create_is_table = """
CREATE TABLE IF NOT EXISTS income_statement (
  cik TEXT NOT NULL,
  ticker TEXT NOT NULL,
  end TEXT NOT NULL,
  form TEXT NOT NULL,
  rev TEXT NOT NULL,
  cost_sale TEXT NOT NULL,
  sale_gen_adm TEXT NOT NULL,
  inpairm TEXT NOT NULL,
  op_income TEXT NOT NULL,
  int_income TEXT NOT NULL,
  int_exp TEXT NOT NULL,
  inc_tax_exp TEXT NOT NULL,
  net_inc TEXT NOT NULL,
  shares TEXT NOT NULL,
  eps_dil TEXT NOT NULL,
  depr_amort TEXT NOT NULL,
  FOREIGN KEY (cik) 
  REFERENCES main (cik) 
      ON DELETE CASCADE 
      ON UPDATE NO ACTION
);
"""

In [40]:
create_bs_table = """
CREATE TABLE IF NOT EXISTS balance_sheet (
  cik TEXT NOT NULL,
  ticker TEXT NOT NULL,
  end TEXT NOT NULL,
  form TEXT NOT NULL,
  cash_cash_eq TEXT NOT NULL,
  acc_rec TEXT NOT NULL,
  invent TEXT NOT NULL,
  other_curr_ass TEXT NOT NULL,
  tot_curr_ass TEXT NOT NULL,
  ppe_net TEXT NOT NULL,
  goodwill TEXT NOT NULL,
  intang_ass TEXT NOT NULL,
  other_ass TEXT NOT NULL,
  tot_ass TEXT NOT NULL,
  short_debt TEXT NOT NULL,
  acc_pay TEXT NOT NULL,
  other_curr_liab TEXT NOT NULL,
  tot_curr_liab TEXT NOT NULL,
  tot_long_debt TEXT NOT NULL,
  other_liab TEXT NOT NULL,
  tot_equity TEXT NOT NULL,
  FOREIGN KEY (cik) 
  REFERENCES main (cik) 
      ON DELETE CASCADE 
      ON UPDATE NO ACTION
);
"""

In [44]:
execute_query(
    connection=conn,
    query=create_bs_table
)

Query executed successfully

## 3. Alter Table

You can easily modify the schema with SQLite3 Editor extension in VSCode

## 4. Inser Data Into Table

In [42]:
insert_into = """
INSERT INTO main (cik, ticker, name, sector, sub_industry, updated)
VALUES ('0000100493', 'TSN', 'Tyson Foods', 'Consumer Staples', 'Packaged Foods & Meats', '2023-09-28')
"""

In [43]:
execute_query(
    connection=conn,
    query=insert_into
)

The error 'UNIQUE constraint failed: main.ticker' occurred