In [1]:
import yfinance as yf

In [2]:
data = yf.download(
    tickers="TSN",
    start="2010-10-01",
    period="max",
    interval="1wk"
    )

[*********************100%%**********************]  1 of 1 completed

In [3]:
data.head()

                 Open   High    Low  Close  Adj Close    Volume
Date
2010-09-27  16.190001  16.33  15.92  16.26  13.101141   6623700
2010-10-04  16.190001  16.27  14.82  15.01  12.093980  33621100
2010-10-11  15.050000  15.48  14.59  15.36  12.375986  35239700
2010-10-18  15.400000  15.80  15.26  15.63  12.593533  21574900
2010-10-25  15.760000  15.98  15.40  15.55  12.529076  16589200